.InputArea {
  display: grid;
  gap: 10px;
}

.InputArea input {
  height: 40px;
  background-color: white;
  padding-left: 10px;
}

.radioBtn {
  display: flex;
}

.addBtn {
  width: 100%;
  padding: 10px 50px;
  text-align: center;
  background-color: rgb(52, 88, 231);
  color: white;
  font-size: 16px;
  border-radius: 4px;
}

.addBtn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.inputErr {
  border: 1px solid red;
}

.error {
  color: red;
  font-size: 14px;
}
