.TotalInOutArea {
  padding: 20px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  gap: 16px;
  background-color: white;
  box-shadow: 2px 2px 5px gray;
}

.TotalInCome,
.TotalExpense,
.TotalExpense > *,
.TotalInCome > * {
  background-color: white;
}

.TotalInOutArea p {
  font-size: 20px;
}

.TotalExpense p {
  color: red;
}

.TotalInCome p {
  color: rgb(10, 171, 10);
}
